//! **************************************************************************
// Written by: Map P.58f on Thu Jun 22 03:00:45 2023
//! **************************************************************************

SCHEMATIC START;
COMP "sw" LOCATE = SITE "V9" LEVEL 1;
COMP "clk" LOCATE = SITE "T10" LEVEL 1;
COMP "rst" LOCATE = SITE "T9" LEVEL 1;
COMP "out<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "out<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "out<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "out<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "out<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "out<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "out<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "out<7>" LOCATE = SITE "T11" LEVEL 1;
SCHEMATIC END;

